In [1]:
import pandas as pd
print('Version',pd.__version__)

Version 2.2.3

In [2]:
list=[1,9,29,40,20,89]
myseries=pd.Series(list)
print(myseries)
print("Element at index 3",myseries[3])

0     1
1     9
2    29
3    40
4    20
5    89
dtype: int64
Element at index 3 40

In [4]:
import pandas as pd
a=[1,7,4]
myvar=pd.Series(a,index=["a","b","c"])
print(myvar)
print(myvar["b"])

a    1
b    7
c    4
dtype: int64
7

In [5]:
employee={
    "id":1,
    "name":"Hema",
    "email":"hema@gmail,com",
    "address":"mysore",
    "salary":9000000
}
data=pd.Series(employee)
print(data)
print("id",data["id"])
print("name",data["name"])

id                      1
name                 Hema
email      hema@gmail,com
address            mysore
salary            9000000
dtype: object
id 1
name Hema

In [3]:
import pandas as pd
data=[
    ["Alice",25,"newyork"],
    ["bob",89,"mysore"],
]
df=pd.DataFrame(data,columns=["name","age","city"])
print(df)

    name  age     city
0  Alice   25  newyork
1    bob   89   mysore

In [4]:
student_data=pd.read_csv('MOCK_DATA.csv')
print(student_data)

     id first_name   last_name                    email   gender  grade
0     1      Dukey   Maggorini      dmaggorini0@home.pl     Male    8.5
1     2   Arabelle    Brewster  abrewster1@illinois.edu   Female    1.1
2     3     Ginger       Abels   gabels2@feedburner.com     Male    1.5
3     4    Brittan       Picot          bpicot3@dot.gov   Female    7.7
4     5    Malissa      Reavey          mreavey4@go.com   Female    4.5
..  ...        ...         ...                      ...      ...    ...
95   96     Anselm     Forlong   aforlong2n@tinypic.com     Male    4.7
96   97    Winston    McGowran      wmcgowran2o@ftc.gov     Male    4.7
97   98       Cale  Antonowicz   cantonowicz2p@cnbc.com     Male    7.8
98   99        Del      Zamora       dzamora2q@imdb.com     Male    2.9
99  100      Melva     Allcott      mallcott2r@noaa.gov  Agender    9.7

[100 rows x 6 columns]

In [8]:
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   email       100 non-null    object
 4   gender      100 non-null    object
 5   grade       100 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB
None

In [9]:
student_data.describe()

               id      grade
count  100.000000  100.00000
mean    50.500000    5.31600
std     29.011492    2.50013
min      1.000000    1.10000
25%     25.750000    3.30000
50%     50.500000    5.00000
75%     75.250000    7.37500
max    100.000000    9.90000

In [10]:
def assign_grade(total):
    if total>=250:
        return 'A'
    elif total>=200:
        return 'B'
    elif total>=150:
        return 'C'
    else:
        return 'D'

In [ ]:
print(