In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('store_data.csv')

In [4]:
print(df.head())

   Order_ID              Product      Category  Quantity  Price  Total_Amount  \
0      1001   Sony Ericsson W830          Sony         1  24477             0
1      1002         Huawei G7300        Huawei         2  14538             0
2      1003  Huawei Watch 2 2018        Huawei         2  20748             0
3      1004    BenQ-Siemens EF51  BenQ-Siemens         4   8786             0
4      1005       alcatel OT-206       alcatel         3  13031             0

         Date
0  18/10/2024
1  14/03/2024
2  13/06/2024
3  26/01/2025
4  09/04/2024

In [5]:
df.fillna(0, inplace=True)

In [6]:
df['Total_Amount'] = df['Quantity'] * df['Price']
print(df.head())

   Order_ID              Product      Category  Quantity  Price  Total_Amount  \
0      1001   Sony Ericsson W830          Sony         1  24477         24477
1      1002         Huawei G7300        Huawei         2  14538         29076
2      1003  Huawei Watch 2 2018        Huawei         2  20748         41496
3      1004    BenQ-Siemens EF51  BenQ-Siemens         4   8786         35144
4      1005       alcatel OT-206       alcatel         3  13031         39093

         Date
0  18/10/2024
1  14/03/2024
2  13/06/2024
3  26/01/2025
4  09/04/2024

In [7]:
grouped_df = df.groupby('Product')['Quantity'].sum()
most_sold_product = grouped_df.idxmax()
print(f"The most sold product is: {most_sold_product}")

The most sold product is: Coolpad Cool 5

In [8]:
total_sales_per_product = df.groupby('Product')['Total_Amount'].sum()
print(total_sales_per_product)

Product
BenQ-Siemens EF51          35144
Celkon i4                  19616
Coolpad Cool 5            111040
Haier Z3000               104730
Huawei G7300               29076
Huawei Watch 2 2018        41496
LG U310                    20812
Philips X1560              31044
Samsung Ativ Tab P8510     15622
Samsung D800               63438
Samsung Gravity Q T289     38952
Samsung L760              117875
Sony Ericsson W830         24477
Sony Xperia S              41888
Spice M-6 Sports           60836
T-Mobile G2 Touch          26494
Ulefone Armor X5 Pro       20514
ZTE nubia My Prague        53493
alcatel OT-206             39093
vivo Y19                   10054
Name: Total_Amount, dtype: int64

In [9]:
orders_above_500 = df[df['Total_Amount'] > 500]
print(orders_above_500)

    Order_ID                 Product      Category  Quantity  Price  \
0       1001      Sony Ericsson W830          Sony         1  24477
1       1002            Huawei G7300        Huawei         2  14538
2       1003     Huawei Watch 2 2018        Huawei         2  20748
3       1004       BenQ-Siemens EF51  BenQ-Siemens         4   8786
4       1005          alcatel OT-206       alcatel         3  13031
5       1006             Haier Z3000         Haier         5  20946
6       1007  Samsung Gravity Q T289       Samsung         2  19476
7       1008            Samsung D800       Samsung         3  21146
8       1009  Samsung Ativ Tab P8510       Samsung         1  15622
9       1010           Sony Xperia S          Sony         4  10472
10      1011       T-Mobile G2 Touch      T-Mobile         2  13247
11      1012           Philips X1560       Philips         4   7761
12      1013    Ulefone Armor X5 Pro       Ulefone         2  10257
13      1014          Coolpad Cool 5       Coolpad         5  22208
14      1015                vivo Y19          vivo         1  10054
15      1016               Celkon i4        Celkon         2   9808
16      1017            Samsung L760       Samsung         5  23575
17      1018                 LG U310            LG         2  10406
18      1019     ZTE nubia My Prague           ZTE         3  17831
19      1020        Spice M-6 Sports         Spice         4  15209

    Total_Amount        Date
0          24477  18/10/2024
1          29076  14/03/2024
2          41496  13/06/2024
3          35144  26/01/2025
4          39093  09/04/2024
5         104730  05/08/2024
6          38952  07/01/2025
7          63438  12/02/2025
8          15622  25/02/2024
9          41888  08/04/2024
10         26494  16/05/2024
11         31044  12/05/2024
12         20514  08/01/2025
13        111040  15/03/2024
14         10054  09/04/2024
15         19616  10/12/2024
16        117875  16/01/2025
17         20812  17/12/2024
18         53493  10/06/2024
19         60836  29/07/2024

In [10]:
df.to_csv('new_store_data.csv', index=False)
print("File created successfully")

File created successfully