In [1]:
print("Hello")

Hello

In [3]:
#variables
num1=10
type(num1)

int

In [4]:
num1=10
num2=20.9
name="Mind sprint"
print("value:",num1)
print(f"value 2 {num2}")
print("value 3:",name)

value: 10
value 2 20.9
value 3: Mind sprint

In [7]:
x,y,z="red","blue","green"
print(x)
type(x)
print(x,y,z)
print(x+y+z)

red
red blue green
redbluegreen

In [8]:
x=y=z="orange"
print(z)

orange

In [10]:
fruits=["apple","banana","cherry"]
x,y,z=fruits
print(y)

banana

In [11]:
print(type(x))

<class 'str'>

In [1]:
num1=int(input("Enter first number"))
num2= int(input("Enter sec number"))
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1%num2)
print(num1**num2)
# print(int(num1)+int(num2))
# print(int(num1)-int(num2))
# print(int(num1)+int(num2))
# print(int(num1)+int(num2))
# print(int(num1)+int(num2))

Enter first number 10
Enter sec number 8

18
2
80
1.25
2
100000000

In [2]:
num1=int(input("Enter first number"))
num2= int(input("Enter sec number"))
print("Is num1 equal to num2?",num1==num2)
print("Is num1 not equal to num2?",num1!=num2)
print("Is num1 greater than num2?",num1>num2)
print("Is num1 less than num2?",num1<num2)
print("Is num1 greater than or equal to num2?",num1>=num2)
print("Is num1 less than or equal to num2?",num1<=num2)

Enter first number 10
Enter sec number 5

Is num1 equal to num2? False
Is num1 not equal to num2? True
Is num1 greater than num2? True
Is num1 less than num2? False
Is num1 greater than or equal to num2? True
Is num1 less than or equal to num2? False

In [16]:
num=10
print("initial value:",num)
num+=5
print("After increment",num)
num-=3
print("After decrement:",num)
num*=8
print("After multiplication:",num)

initial value: 10
After increment 15
After decrement: 12
After multiplication: 96

In [17]:
email=input('enter your email')
password=input('enter your password')
print(email=='admin@gmail.com' and password=='admin@123')

enter your email admin@gmail.com
enter your password admin@123

True

In [18]:
num1=int(input("Enter number"))
if num>0:
    print("Positive number")
elif num==0:
    print("Zero")
else:
    print("Negative number")

Enter number 90

Positive number

In [19]:
num=15
if num>0:
    if num%2==0:
        print("Positive and even")
    else:
        print("Positive and odd")
else:
    print("Negative num")

Positive and odd

In [3]:
# Loop
num = 1
while num <= 10:
    print(num , end = " ")
    num +=1

for i in range(1,11):
    print("\nNumber :", i, end = "")

1 2 3 4 5 6 7 8 9 10
Number : 1
Number : 2
Number : 3
Number : 4
Number : 5
Number : 6
Number : 7
Number : 8
Number : 9
Number : 10

In [4]:

# Using Break Statement

for i in range (1,10):
    if i == 5:
        print("We reached the limit")
        break
    print("Number is :", i) 
    
count = 0
while count <= 5:
    if count == 3:
        print("Break")
        break
    else:
        print("Number :", count)
    count += 1

Number is : 1
Number is : 2
Number is : 3
Number is : 4
We reached the limit
Number : 0
Number : 1
Number : 2
Break

In [21]:
num=-5
if num>0:
    pass
else:
    print("This won't execute")

This won't execute

In [26]:
marks=int(input("Enter marks:"))
if marks>0:
    if marks >=90 and marks<=100:
        print("A")
    elif  marks >=70 and marks<=89:
        print("B")
    elif marks >=50 and marks<=69:
        print("C")
    elif marks<50:
        print("Fail")

Enter marks: 56

C

In [29]:
num=int(input("Enter num:"))
if num>0:
    if num%2==0:
        print('even')
    else:
        print('odd')
elif num==0:
    print('zero')
elif num<0:
    if num<-10:
        print("num is less than -10")

Enter num: 6

even

In [30]:
mrp=int(input('total mrp'))
discount=0
if mrp>500:
    discount=20
elif 200>=mrp<500:
    discount=10
discount_price=mrp*discount/100
final_amount=mrp-discount_price
print('Total discount',discount)
print('You saved',discount_price)
print('final amount',final_amount)

total mrp 700

Total discount 20
You saved 140.0
final amount 560.0

In [31]:
count=1
while count<=5:
    print("Count:",count)
    count+=1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [32]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [33]:
count=0
while count<5:
    if count==3:
        print("Breaking at count",count)
        break
    print("Count is ",count)
    count+=1

Count is  0
Count is  1
Count is  2
Breaking at count 3

In [34]:
for num in range(1,11):
    if num==5:
        print('breaking at number',count)
        break
    print(num)

1
2
3
4
breaking at number 3

In [7]:

# Task 1

num1 = int(input("Enter First Number"))
num2 = int(input("Enter Second Number"))
sumN = 0
for i in range (num1, num2 + 1):
    if i % 2 == 0:
        sumN += i

print("Sum is :", sumN);

Enter First Number 10
Enter Second Number 20

Sum is : 90

In [8]:
# Task 2

n = int(input("Enter number:"))

for i in range(1, n + 1 ):
        for j in range(1, i + 1):
            print(j, end = " ")
        print()

Enter number: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [35]:
def hello():
    print("Hello")
hello()

Hello

In [36]:
def greet(name):
    print("hi",name)
greet("hema")

hi hema

In [10]:
# Default Parameter

def greet(name = 'hema'):
    print(f"Hello, {name}!")

greet()
greet("hemashri")

Hello, hema!
Hello, hemashri!

In [37]:
def add_numbers(a,b):
    result=a+b
    print(result)
add_numbers(5,6)

11

In [40]:
def greet(name="Guest"):
    print("Hello",name)
greet("Alice")
greet()

Hello Alice
Hello Guest

In [41]:
def describe_person(name,age,city):
    print(f"{name} is {age} years and lives in {city}")
describe_person(age=25,city="new york",name="bob")

bob is 25 years and lives in new york

In [42]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(5)
print(result)

120

In [48]:
#task 3
def login(email,password):
    if email=='admin@gmail.com' and password=='admin@123':
        print("Login success")
    else:
        print("Unsuccess")
email=input("enter email")
password=input("Enter password")
login(email,password)

enter email admin@gmail.com
Enter password admin@123

Login success

In [7]:
mylist=[10,20,30,40,50]
print(mylist)
print(mylist[3])
mylist.append(60)
print(mylist)
mylist.insert(2,25)
print(mylist)
data=mylist.pop()
print(data,"removed")
print(len(mylist))
print("Minimum value:",min(mylist))
print("Maxmum value:",max(mylist))
print("Sum value:",sum(mylist))
mylist.remove(25)
print(mylist)
print(20 in mylist)
print(mylist[1:3])
mylist.extend([1,2,3,4,5])
print(mylist)
mylist[4]=35
print(mylist)
mylist.pop(4)
print(mylist)
del mylist[1]
print(mylist)
mylist.clear()
print(mylist)

[10, 20, 30, 40, 50]
40
[10, 20, 30, 40, 50, 60]
[10, 20, 25, 30, 40, 50, 60]
60 removed
6
Minimum value: 10
Maxmum value: 50
Sum value: 175
[10, 20, 30, 40, 50]
True
[20, 30]
[10, 20, 30, 40, 50, 1, 2, 3, 4, 5]
[10, 20, 30, 40, 35, 1, 2, 3, 4, 5]
[10, 20, 30, 40, 1, 2, 3, 4, 5]
[10, 30, 40, 1, 2, 3, 4, 5]

In [9]:
data=[1,2,3,4,5,6,7,8,9]
for num in data:
    print(num)
i=0
while i<len(data):
    print(data[1])
    i+=1

1
2
3
4
5
6
7
8
9
2
2
2
2
2
2
2
2
2

In [10]:
data.sort(reverse=True)
print(data)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
data.reverse()
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
copy_numbers=data.copy()
print(copy_numbers)
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 9, 16, 25]

In [14]:
todos = []

def add_todo():
    task = input("Enter task to add: ")
    todos.append(task)
    print(f'Task "{task}" added.')

def remove_todo():
    task = input("Enter task to remove: ")
    todos.remove(task)
    print(f'Task "{task}" removed.')
    
def show_todos():
    print("To-Do List:")
    for task in todos:
        print(f"- {task}")

while True:
    command = input("Enter a command (add, remove, show, exit): ")
    
    if command == "add":
        add_todo()
    elif command == "remove":
        remove_todo()
    elif command == "show":
        show_todos()
    elif command == "exit":
        print("Exiting To-Do List application.")
        break

Enter a command (add, remove, show, exit):  exit

Exiting To-Do List application.

In [15]:
 def print_pattern(lines):
    for i in range(1, lines + 1):
        for j in range(1, i + 1):
            print(j, end=' ')
        print()


number_of_lines = 3
print_pattern(number_of_lines)

1
1 2
1 2 3

In [16]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A|B)
print(A.union(B))
print(A&B)
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}

In [20]:

employees = {
    "Amit": 70000,
    "Bina": 80000,
    "yash": 90000
}


employees["David"] = 85000


employees["Amit"] = 75000


del employees["yash"]
for name, salary in employees.items():
    print(f'{name}: {salary}')

Amit: 75000
Bina: 80000
David: 85000