In [1]:
# Collections 
# Lists

# Ordered, Mutable, Allow Duplicate Values

myList = [10,20,30,40,50]

print(myList)
print(myList[3]) # access based on index

myList.append('Hema') # append add element at last index
print(myList)

myList.insert(2,25)
print(myList)

print(myList.pop()) # return the last element and remove the last value
print(myList)

print(f"The Length of the list is : {len(myList)}")

print("Maximum Value :", max(myList))
print("Minimum Value :", min(myList))
print("Total Sum :", sum(myList))

# Remove the value by index
myList.remove(25)
print(myList)

# Check membership
print(20 in myList)

mlist =[10,20,30,40,50]
print(myList is mlist)

print(myList[1:4])

myList.extend([1,2,3,4,5]) # adding element at last
print(myList)

# Delete using index number
del myList[1]
print(myList)

myList.clear()
print(myList)

[10, 20, 30, 40, 50]
40
[10, 20, 30, 40, 50, 'Hema']
[10, 20, 25, 30, 40, 50, 'Hema']
Hema
[10, 20, 25, 30, 40, 50]
The Length of the list is : 6
Maximum Value : 50
Minimum Value : 10
Total Sum : 175
[10, 20, 30, 40, 50]
True
False
[20, 30, 40]
[10, 20, 30, 40, 50, 1, 2, 3, 4, 5]
[10, 30, 40, 50, 1, 2, 3, 4, 5]
[]

In [2]:
# Loops in LISTs

myData = [1,2,3,4,5,6,7,8]

for num in myData:
    print(num, end = " ")
print()    

i = 0
while i < len(myData):
    print(myData[i] , end = " ")
    i += 1
print()    

myData.reverse()
print(myData)

myData.sort()
print(myData)

myData.sort(reverse = True)
print(myData)

# Copy the List

copy_number = myData.copy()
print(copy_number)

# Sort Way to Create List

squares = [x ** 2 for x in range(1,6)]
print(squares)

1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8
[8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 9, 16, 25]

In [3]:
# Tuple

# Ordered, Immutable

fruits = ("Orange", "Apple", "Banana")
print(fruits)

mixed = ('Hema', 21, 'Mysore', 67.33, True)
print(mixed)

# Empty Tuple
empty_tup = ()
print()

# Tuple with single value
data = ('hello',)
print(data)
print(type(data))

# Access value in tuple by index
print(fruits[2])

('Orange', 'Apple', 'Banana')
('Hema', 21, 'Mysore', 67.33, True)

('hello',)
<class 'tuple'>
Banana

In [4]:
# As Tuple is immutable, then for modifying the tuple 
# We have to convert tuple into list 
# Then Modify the List
# Lastly, Convert the list into tuple

number_tuple = (23, 'Hema', 78.33)
print(number_tuple)

number_tuple = list(number_tuple)
print(number_tuple)

number_tuple.append('Chandu')
print(number_tuple)

number_tuple = tuple(number_tuple)
print(number_tuple)

(23, 'Hema', 78.33)
[23, 'Hema', 78.33]
[23, 'Hema', 78.33, 'Chandu']
(23, 'Hema', 78.33, 'Chandu')

In [5]:
tuple1 = (1,2,3)
tuple2 = (4,5,6,2,3,2,4)
tuple3 = tuple1 + tuple2 
print(tuple3)

# count number of elements in the tuple
print(tuple3.count(2))

new_tuple = ('temp',) * 5 # repeatetion of tuple
print(new_tuple)

(1, 2, 3, 4, 5, 6, 2, 3, 2, 4)
3
('temp', 'temp', 'temp', 'temp', 'temp')

In [7]:
# Dictionary - Key Value Pair 

employee = {
    "eid" : 1000,
    "name" : "Hema",
    "dept" : "SAP",
    "salary" : 20000
}

print(employee['eid'])
print(employee['name'])
print(employee.get('dept'))
print(employee.get('manager'))
print(employee.get('manager', 'Aditi'))
# get is better then simple access because if that key not present then simple one simply return the error but with .get return NONE
print(employee)

# Add and update the key value pair
employee['manager'] = "Shiva"
print(employee)

employee['manager'] = "Ram"
print(employee)

# Remove the last Key Pair 
data = employee.popitem()
print(data, 'removed')

data = employee.pop('salary')
print(employee)

1000
Hema
SAP
None
Aditi
{'eid': 1000, 'name': 'Hema', 'dept': 'SAP', 'salary': 20000}
{'eid': 1000, 'name': 'Hema', 'dept': 'SAP', 'salary': 20000, 'manager': 'Shiva'}
{'eid': 1000, 'name': 'Hema', 'dept': 'SAP', 'salary': 20000, 'manager': 'Ram'}
('manager', 'Ram') removed
{'eid': 1000, 'name': 'Hema', 'dept': 'SAP'}

In [8]:
# Iterate the Dictionary

student = {
    "id" : 1,
    "name" : "alex",
    "email" : "alex@gmail.com",
    "address" : "us"
}

for key in student:
    print(key ,":", student[key])


print(student.items())

for key, value in student.items():
    print(key, ": ", value)

id : 1
name : alex
email : alex@gmail.com
address : us
dict_items([('id', 1), ('name', 'alex'), ('email', 'alex@gmail.com'), ('address', 'us')])
id :  1
name :  alex
email :  alex@gmail.com
address :  us

In [9]:
if "address" in student:
    print("address is present in student object")

address is present in student object

In [10]:
# Set -- Unordered , Unique Elements, Mutable, Supports Set Operations(Union, Intersection)

names = { "alex", "bob", "john", "catty"}
print(names)

for val in names:
    print(val)

names.add('krishna')
print(names)

# To add many elements
names.update(['rohini', 'pawani'])
print(names)

# Removing the value from set
names.remove('rohini')
print(names)


names.discard('paaru')

names.pop();
print(names)

{'catty', 'alex', 'bob', 'john'}
catty
alex
bob
john
{'bob', 'krishna', 'alex', 'catty', 'john'}
{'bob', 'krishna', 'alex', 'pawani', 'rohini', 'catty', 'john'}
{'bob', 'krishna', 'alex', 'pawani', 'catty', 'john'}
{'krishna', 'alex', 'pawani', 'catty', 'john'}

In [11]:
# Set Operations

A = {1,2,3,4,5}
B = {4,5,6,7,8}

# Union
print(A|B)
print(A.union(B))

# Intersection
print(A & B)
print(A.intersection(B))

# Difference
print(A - B)
print(A.difference(B))

# Symmetric Difference
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [12]:
employees=dict();
def add_employee(id,name,department,salary):
    n= len(employees)
    employees[f'emp{n+1}']={"id":id,"name":name,"department":department,"salary":salary}
def update_employee(id,salary):
    for emp in employees:
        if employees[emp]['id']==id:
            employees[emp]['salary']=salary
            break
def remove_employee(id):
    for emp in employees:
        if employees[emp]['id']==id:
            employees.pop(emp)
            break
def print_employees(employees):
    for emp in employees:
        print("---------------------------------")
        for key in employees[emp]:
            print(key," ",employees[emp][key])

add_employee(1,"alex","I.T.",90000)
add_employee(2,"bob","Sales",80000)
add_employee(101,"jack","finance",32000)
print_employees(employees)
update_employee(101,42000)
print_employees(employees)
remove_employee(101)
print_employees(employees)

---------------------------------
id   1
name   alex
department   I.T.
salary   90000
---------------------------------
id   2
name   bob
department   Sales
salary   80000
---------------------------------
id   101
name   jack
department   finance
salary   32000
---------------------------------
id   1
name   alex
department   I.T.
salary   90000
---------------------------------
id   2
name   bob
department   Sales
salary   80000
---------------------------------
id   101
name   jack
department   finance
salary   42000
---------------------------------
id   1
name   alex
department   I.T.
salary   90000
---------------------------------
id   2
name   bob
department   Sales
salary   80000

In [13]:
# Task 1

def add_employee(name, salary, email):
    data.append({"name": name, "salary": salary, "email": email})
    print(data)

def printEmployees():
    print("Details : ------------------------------------------------------------------------------------------------------------------------------")
    for items in data:
        for key, value in items.items():
            print(key, ":", value)
        print("----------------------------------------------------------------------------------------------------")

def updateEmployees(name, updatedname, updatedsalary, updatedemail):
    for emp in data:
        if emp['name'] == name:
            emp['name'] = updatedname
            emp['salary'] = updatedsalary
            emp['email'] = updatedemail
            print("Details Updated Successfully") 
            return

def delete_employee(name):
    for emp in data:
        if emp['name'] == name:
            data.remove(emp)
            print(f"Deleted Data :\nName : {emp['name']}\nSalary : {emp['salary']}\nEmail : {emp['email']}")
            return

data = [
    {
    "name": "Hema",
    "salary": 22000,
    "email": "hema@gmail.com"  
    },
    {
    "name": "Chandana",
    "salary": 25000,
    "email": "chandana@gmail.com"  
    },
    {
    "name": "Vinuta",
    "salary": 27000,
    "email": "vinuta@gmail.com"  
    }    
]

print(data)
print("----------------------------------------------------------------------------------------------------")
add_employee("Pradip", 33000, "pradip@gmail.com")

print("----------------------------------------------------------------------------------------------------")
updateEmployees("Hema", "Hema", 35000, "hema@gmail.com")
print(data)
print("----------------------------------------------------------------------------------------------------")
delete_employee("Chandana")
print(data)
printEmployees()

[{'name': 'Hema', 'salary': 22000, 'email': 'hema@gmail.com'}, {'name': 'Chandana', 'salary': 25000, 'email': 'chandana@gmail.com'}, {'name': 'Vinuta', 'salary': 27000, 'email': 'vinuta@gmail.com'}]
----------------------------------------------------------------------------------------------------
[{'name': 'Hema', 'salary': 22000, 'email': 'hema@gmail.com'}, {'name': 'Chandana', 'salary': 25000, 'email': 'chandana@gmail.com'}, {'name': 'Vinuta', 'salary': 27000, 'email': 'vinuta@gmail.com'}, {'name': 'Pradip', 'salary': 33000, 'email': 'pradip@gmail.com'}]
----------------------------------------------------------------------------------------------------
Details Updated Successfully
[{'name': 'Hema', 'salary': 35000, 'email': 'hema@gmail.com'}, {'name': 'Chandana', 'salary': 25000, 'email': 'chandana@gmail.com'}, {'name': 'Vinuta', 'salary': 27000, 'email': 'vinuta@gmail.com'}, {'name': 'Pradip', 'salary': 33000, 'email': 'pradip@gmail.com'}]
----------------------------------------------------------------------------------------------------
Deleted Data :
Name : Chandana
Salary : 25000
Email : chandana@gmail.com
[{'name': 'Hema', 'salary': 35000, 'email': 'hema@gmail.com'}, {'name': 'Vinuta', 'salary': 27000, 'email': 'vinuta@gmail.com'}, {'name': 'Pradip', 'salary': 33000, 'email': 'pradip@gmail.com'}]
Details : ------------------------------------------------------------------------------------------------------------------------------
name : Hema
salary : 35000
email : hema@gmail.com
----------------------------------------------------------------------------------------------------
name : Vinuta
salary : 27000
email : vinuta@gmail.com
----------------------------------------------------------------------------------------------------
name : Pradip
salary : 33000
email : pradip@gmail.com
----------------------------------------------------------------------------------------------------

In [14]:
# Movie Ticket Booking System
#Task2
movies = []
theaters = set()
ticket_price = (200, 300, 400)
customers = {}

def add_movie(title, genre, showtime):
    movies.append({'title': title, 'genre': genre, 'showtime': showtime})
    print(f"Added Movie -------------------------------------------\nTitle: {title}\nGenre: {genre}\nShowtime: {showtime}\n")

def remove_movie(title):
    for movie in movies:
        if movie['title'] == title:
            movies.remove(movie)
            print(f"Removed Movie --------------------------------------\nTitle: {title}\nGenre: {movie['genre']}\nShowtime: {movie['showtime']}\n")

def add_theater(theater_name):
    theaters.add(theater_name)
    print("Theater Added:", theater_name)

def add_customer(customer_name):
    customers[customer_name] = []
    
def book_ticket(customer_name, movie_title):
    for movie in movies:
        if movie["title"] == movie_title:
            customers[customer_name].append(movie_title)
            print(f"Ticket booked for '{customer_name}' to watch '{movie_title}'.")
            return

def print_data():
    print("\nMovies Available:")
    for movie in movies:
        print(f"  {movie['title']} ({movie['genre']}) at {movie['showtime']}")

    print("\nTheaters Available:")
    for theater in theaters:
        print(f"  {theater}")

    print("\nTicket Pricing:")
    print(f"  Prices: {ticket_price}")

    print("\nCustomer Bookings:")
    for customer, bookings in customers.items():
        print(f"  {customer}: {', '.join(bookings) if bookings else 'No bookings yet'}")

add_movie("Avengers: Endgame", "Action", "18:00")
add_movie("Toy Story 4", "Animation", "14:00")
add_movie("Joker", "Drama", "20:00")

# remove_movie("Toy Story 4")

add_theater("Cinepolis")
add_theater("Inox")
add_theater("PVR Cinemas")

print("---------------------------------------------------------------------------------------------")

add_customer("Alice")
add_customer("Bob")
add_customer("Charlie")

book_ticket("Alice", "Avengers: Endgame")
book_ticket("Bob", "Joker")
book_ticket("Charlie", "Toy Story 4")

print("---------------------------------------------------------------------------------------------")

print_data()

Added Movie -------------------------------------------
Title: Avengers: Endgame
Genre: Action
Showtime: 18:00

Added Movie -------------------------------------------
Title: Toy Story 4
Genre: Animation
Showtime: 14:00

Added Movie -------------------------------------------
Title: Joker
Genre: Drama
Showtime: 20:00

Theater Added: Cinepolis
Theater Added: Inox
Theater Added: PVR Cinemas
---------------------------------------------------------------------------------------------
Ticket booked for 'Alice' to watch 'Avengers: Endgame'.
Ticket booked for 'Bob' to watch 'Joker'.
Ticket booked for 'Charlie' to watch 'Toy Story 4'.
---------------------------------------------------------------------------------------------

Movies Available:
  Avengers: Endgame (Action) at 18:00
  Toy Story 4 (Animation) at 14:00
  Joker (Drama) at 20:00

Theaters Available:
  Inox
  Cinepolis
  PVR Cinemas

Ticket Pricing:
  Prices: (200, 300, 400)

Customer Bookings:
  Alice: Avengers: Endgame
  Bob: Joker
  Charlie: Toy Story 4